.main-card {
    display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
}

html[data-theme='dark'] {
    filter: invert(1) hue-rotate(180deg);
}

html[data-theme='dark'] img{
    filter: invert(1) hue-rotate(180deg);
}

html {
    transition: color 300ms, background-color 300ms;
}